---
import LogLayout from '../layouts/LogLayout.astro';
---

<LogLayout
	title="Log"
	description="Personal log and activity timeline"
>
	<h3>New York Healthcare Networking | AIweekNY</h3>
</LogLayout>
