---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Log"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
>
	<h3>New York Healthcare Networking | AIweekNY</h3>
</Layout>
