---
import LogLayout from '../layouts/LogLayout.astro';
---

<LogLayout
	title="Log"
	description="Personal log and activity timeline"
>
	<h3>2025.11 Participating in BrainRhythm Lab</h3>
</LogLayout>
